*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: black;
}

.contenedorGeneral{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "nav"
                        "main"
                        "footer";
               
}

.navegador{
    grid-area: nav;
}

.principal{
    grid-area: main;
    padding-top: 80px;
}

.footer{
    grid-area: footer;
}

.navegador{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.logo img{
    width: 75px;
    margin-left: 20px;
}

.navegador ul{
    list-style: none;
    margin-right: 20px;  
    display:flex; 
}

.navegador ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.navegador ul li a{
    color: rgba(249, 194, 76, 0.92);
    font-size: 20px;
    padding: 10px;
}

li a.active, li a:hover{
    background-color: rgba(23, 21, 15, 0.92);
    border-radius: 3px;
    transition: 0.5s;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    color: rgba(249, 194, 76, 0.92);
    display: none;
}

#check{
    display: none;
}

.footer{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom:0;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: space-around;
}

.social{
    position: fixed;
    left: 0;
    top: 350px;
    z-index: 2000;
}
.social ul{
    list-style: none;
}

.social ul li a{
    display: inline-block;
    color: rgba(249, 194, 76, 0.92);
    background-color: rgba(23, 21, 15, 0.92);
    padding: 10px 15px;
    font-size: 30px;
    margin-top: 5px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.social ul li a:hover{
    padding: 10px 30px;
    color: rgba(23, 21, 15, 0.92);
    background-color: rgba(249, 194, 76, 0.92);
}


/*Página de inicio*/

.inicio{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align:center;
    font-size: 40px;
    line-height: 170px;
    background-image: url(../img/inicio.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: calc(100vh - 80px);
    animation-name: aparecer;
    animation-duration: 2s;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }    
}

/*Página Nosotros*/

.contenedorCajas{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    align-content:center;
    flex-wrap: wrap;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 440px;
    min-height: 405px;
    background-color: rgba(23, 21, 15, 0.92);
    padding: 10px;
    border-radius: 5px;
    margin: 20px;  
    transition: 1s;  
}
.caja:hover{
    transform: scale(1.05);
}
.caja p{
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
    color: rgba(249, 194, 76, 0.92);
    padding: 5px;
}

.imgnosotros{
    width: 380px;
    border-radius: 7px;
    padding: 5px;
}

/*Página ubicación*/

.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

.mapa h4{
    color: rgba(249, 194, 76, 0.92);
    font-size: 20px;
    display: none;
}

.mapa img{
    display: none;
}

/*Página productos*/

#conteItemsCarousel{
    height: 500px;
    overflow: hidden;
}

.itemCarousel{
    height: 100%;
    position: relative;
}

.itemCarousel img{
    width: 100%;
    height: 100%;
}

.tarjetaCarousel{
    height: 100%;
}

.flechaCarousel{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

i{
    font-style: none;
    color: white;
    font-size: 35px;
}

/*Página contacto*/

.contacto{
    background-image: url(../img/fondo.jpg);
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form{
    display: block;
    width: 500px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(23, 21, 15, 0.92);
    border-radius: 5px;
}

.textoForm{
    display: block;
    width: 500px;
    margin: 20px;
    padding: 10px;
    background-color: rgba(23, 21, 15, 0.92);
    border-radius: 5px;
}

.btnForm{
    display: block;
    width: 500px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(120, 98, 34, 0.92);
    font-weight:bold;
}

/*Responsive*/

@media(max-width:1070px){
    .inicio{
        font-size: 28px;
    }
    .caja{
        width: 350px;
        margin: 10px;
    }
    .imgnosotros{
        width: 300px;
    }
}

@media(max-width:768px){
    .inicio{
        font-size: 25px;
    }
    .caja{
        width: 320px;
        margin: 10px;
    }
    .imgnosotros{
        width: 280px;
    }
    .checkbtn{
        display: block;
        margin-right: 20px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .navegador{
        display: flex;
        align-items: space-around;
    }
    .navegador ul{
        display:block;
    }
    .navegador ul li{
        text-align: center;
        display: block;
        margin: 15px 0;
        justify-content: space-between;
    }
    .navegador ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

@media(max-width:685px){
    .inicio{
        font-size: 18px;
    }
          
    footer h5{
        font-size: 12px;
    }

    .productos img{
        width: 300px;
    }

    .mapa{
        display: flex;
        justify-content:end;
        align-items:flex-start;
    }
    .googleMaps{
        display:none;
    } 
    .mapa h4{
        display: flex;
        text-align:center;
        font-size: 30px;
        margin: 60px 20px 0px 20px;
    }
    .mapa img{
        display: flex;
        width: 100px;
        margin-top: 100px;
        animation-name: mover;
        animation-duration: 6s;       
    }
    @keyframes mover {
        0%{
            transform: translate(0px,0px);
        }
        100%{
            transform: translate(650px,0px);
        }        
    }
  
}

@media(max-width:560px){
   .inicio h2{
        display: none;
    }
   .inicio{
        display: flex;
        justify-content:flex-start;
    }
    .form{
        width: 400px;
    }
    
    .textoForm{
        width: 400px;
    }
    
    .btnForm{
        width: 400px;
    }
}